{% extends 'base.html.twig' %}

{% block title %}Tache{% endblock %}

{% block body %}
    <h1>Tache</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tache.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tache.description }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ tache.statut }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ tache.datedebut ? tache.datedebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ tache.datefin ? tache.datefin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tache_index') }}">back to list</a>

    <a href="{{ path('app_tache_edit', {'id': tache.id}) }}">edit</a>

    {{ include('tache/_delete_form.html.twig') }}
{% endblock %}
